@charset "UTF-8";

/*---------------MOBILE-----------------*/
@media (max-width: 500px) {
    header nav ul{
        display: flex;
        justify-content: center;
    }
    
    header nav{
        background-color: rgb(0, 153, 255);
        height: 75px;
    }
    
    .main-page{
        height: 230px;
        font-size: 0.8rem;
    }
}