@charset "UTF-8";

/*---------------PC-----------------*/
header nav ul li a{
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.8s ease;
    padding: 10px;
}

header nav ul li a:hover{
    color: black;
    background: white;
    text-decoration: none;
}

header nav ul li{
    margin-right: 1.8%;
    margin-top: 15px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 2.5%;
}

header nav{
    background-color: rgb(0, 153, 255);
    height: 50px;
}

.main-page{
    background-color: gray;
    height: 230px;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.8rem;
    line-height: 200px;
    margin-top: -40px;
}

.aboutMe h1{
    text-align: center;
}

.aboutMe h2{
    text-align: center;
}

.state{
    text-align: center;
}

.aboutMe span p{
    text-transform: capitalize;
    text-align: center;
}

.contact h1{
    text-align: center;
}

.contactInfo{
    display: flex;
    justify-content: space-around;
}

.newPost h1{
    text-align: center;
}

.newPost{
    border-style: double;
    padding-bottom: 300px;
}

.newPost span p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
    border-style: dotted;
    padding: 5px;
}

.newPost h3{
    text-transform: capitalize;
}

.newPost hr{
    margin-left: 10px;
    margin-right: 10px;
}

.totalPost{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

footer{
    text-align: center;
    background-color: rgb(168, 168, 168);
    height: 200px;
}

footer div{
    line-height: 100px
}

footer h2{
    font-size: xx-large;
}